/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: poppins;
    src: url('/public/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: poppinsBold;
    src: url('/public/fonts/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: poppinsRegular;
    src: url('/public/fonts/poppins/Poppins-SemiBold.ttf');
}

*{
    font-family: poppins;
    overflow-x: hidden;
}

