/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url("/public/fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: poppinsBold;
  src: url("/public/fonts/poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: poppinsRegular;
  src: url("/public/fonts/poppins/Poppins-SemiBold.ttf");
}

* {
  font-family: poppins;
  overflow-x: hidden;
}

.imageBackground {
  background-image: url('/public/images/bg-shorten-desktop.svg');
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
}



.cardImage{
    position: relative;
    top:40px;
    left: 20px;
    z-index: 999;
}

.line{
    background-color: #2ACED0;
    transform: translateY(2rem);
    width: 30px;
    height: 4px;
    content: "";
}

.footer{
    background-image: url(/public/images/bg-shorten-desktop.svg);
}

.footerText{
    font-family: poppinsBold;
}

.logoFooter{
    filter: invert(2);
}

.moveCard{
    transform: translateY(20%);
}